<%= render "layouts/navbar" %>

<div class="body-container">
  <div class="body-header">
    <h3>New listing</h3>
  </div>

  <div class="form-container">
    <div class="form-render">
      <%= render "form" %>
    </div>
    <div class="form-splash-image">
    </div>
  </div>
</div>
