<div>  <!-- questo è il container principale -->
  <div class="name-and-buttons">
    <div class="name-dates">
      <h2><strong><%= @mask.name %></strong></h2>
      <!-- qui devo inserire le date -->
    </div>
    <div class="edit-delete-buttons">
      <ul>
        <li><%= link_to 'Edit listing', ..., class: "text-button" %></li>
        <li><%= link_to 'Delete listing', ..., class: "dark-button" %></li>
      </ul>
    </div>


  </div>
</div> <!-- fine del container principale -->



