<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="masks">Listings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="reservations">Reservations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="reviews">Reviews</a>
  </li>
</ul>
