
<h1 class="center-title bigger-title landing-name">Triangular</h1>

<div class="landing-container">
  <div class="row justify-content-around">
    <div class="sign-box paragraph">
      <h2>Enjoy and #staysafe:</h2>
      <h1>Put on your protection</h1>
      <br>
      <p>
        Triangular© is the brand new service that allows you to rent a mask.<br>
        A mask is a vital support against global pandemy
        and it is also an indispensable fancy accessory.<br>
        The applications are multiple:<br>
        --> Are you sick and you coughing? <span class="funny-font"><strong>Rent a mask!</strong></span><br>
        --> Do you want to rob a bank? <span class="funny-font"><strong>Rent a mask!</strong></span><br>
        --> Are you ugly and you're tired of people judgement? <span class="funny-font"><strong>Rent a mask!</strong></span><br>
      </p>
    </div>

    <div class="shadow p-3 mb-5 bg-white rounded sign-box" >
      <!-- <form>
        <h2 class="text-center">Book your Mask</h2>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="input-place" class="small-caps d-block text-center"><strong>Where</strong></label>
            <input type="text" class="form-control" id="input-place" placeholder="Es. Los Angeles">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="input-start" class="small-caps d-block text-center"><strong>Start date</strong></label>
            <input type="text" class="form-control" id="input-start">
          </div>
          <div class="form-group col-md-6">
            <label for="input-end" class="small-caps d-block text-center"><strong>End date</strong></label>
            <input type="text" class="form-control" id="input-end">
          </div>
        </div> -->
        <div class="mx-auto my-0 text-center">
          <%= simple_form_for :search, url: masks_path, method: "GET", html: { class: 'form-inline' } do |f| %>
            <%= f.input :start_time, :as :date } %>
            <br>
            <%= f.input :end_time, :as :date } %>
            <br>
            <%= f.submit "Search", class: "btn btn-primary" %>
          <% end %>
        </div>
      <!-- </form> -->
    </div>
  </div> <!-- this close the div.row -->
</div> <!-- this close the div.container -->






