.white-box {
  background: white;
}

.sign-box {
  width: 400px;
  display: inline-block;
    p {
      margin-top: 12px;
      margin-bottom: 0;
    }
}

.centered-box {
  text-align: center;
}

.li-inline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.image-card-box {
  height: 200px;
}

