.primary-button {
  color: white;
  background: $navy;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  padding: 6px 12px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.button-pending {
  background-color: rgb(150, 150, 150);
  color: white;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  padding: 1px 4px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.button-confirmed {
  background-image: linear-gradient(to right, #622953, #0A5690);
  color: white;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  padding: 1px 4px;
  border-radius: 4px;
  margin-bottom: 4px;
}


// .remember-btn {
//   text-align: left;
// }

// .to-masks {
//   color: #828689;
//   &:hover{
//     color: #9FA5A8;
//     text-decoration: none;
//   }
// }



.dark-button {
  padding: 8px;
  color: white;
  background: #0e1b2f;
  border-radius: 4px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  &:hover {
    text-decoration:none;
    background: #1A3A6E;
    color: white;
  }
}

.text-button {
  padding: 8px;
  background: #f4f4f4;
  color: #0e1b2f;
  border-radius: 4px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  &:hover {
    text-decoration:none;
    color: #1A3A6E;
  }
}

.btn-list {
  li {
    display: inline;
  }
}


