.primary-button {
  color: white;
  background: $navy;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  padding: 6px 12px;

  &.search {
    border-radius: 0;
    height: 36px;
    margin-left: 4px;
  }

  &:hover {
    text-decoration: none;
    color: white;
  }
  &:visited {
    color: white;
  }
}

.secondary-button {
  color: $navy;
  background: white;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  padding: 6px 12px;
  &:hover {
    text-decoration: none;
  }
}

.button-pending {
  background-color: rgb(150, 150, 150);
  color: white;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  padding: 1px 4px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.button-confirmed {
  background-image: linear-gradient(to right, #622953, #0A5690);
  color: white;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  padding: 1px 4px;
  border-radius: 4px;
  margin-bottom: 4px;
}

.btn-list {
  li {
    display: inline;
  }
}

.find-button {
  background-image: linear-gradient(to top right, #032051, #421430);
  border-radius: 6px;
  font-size: 14px;
  color: white;
  padding: 8px 16px;
  &.create-listing {
    margin: 0;
    width: 100%;
  }

  &:hover {
    color: white;
    background-image: linear-gradient(to top right, #05275F, #551A3F);
  }
  margin-left: 4px;
}

.completed-button-container {
  display: flex;
  align-items: center;
}

.reservation-completed {
  margin-left: 12px;
}

.large-primary-button {
  color: white;
  background: $navy;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  padding: 6px 12px;
  width: 100%;

  &.search {
    border-radius: 0;
    height: 36px;
    margin-left: 4px;
  }

  &:hover {
    text-decoration: none;
    color: white;
  }
  &:visited {
    color: white;
  }
}
