.cards-container {

}

.card-container {
  display: flex;
  background-color: rgb(230, 230, 230);
  border-style: none;
  height: 240px;
  margin-bottom: 32px;
  padding: 20px;
  position: relative;
}

.clickable-card {
  text-decoration: none;
  h4 {
    color: #0E0000;
  }
  &:hover {
    text-decoration: none;
    color: #0E0000;
  }
}

.card-image-section {
  width: 180px;
  height: 100%;
}

.card-image {
  width: 180px;
  height: 100%;
  object-fit: cover;
}

.card-details-section {
  flex-grow: 1;
  padding: 0 0 0 16px;
}

.card-all-details {
  height: 90%;
  h4 {
    font-size: 20px;
  }
  h5 {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: $text-gray;
  }
  p {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: $text-gray;
    margin: 0;
  }
}

.price {
  height: 10%;
  width: 100%;
  text-align: right;
  align-content: space-between;
  h4 {
    font-size: 16px;
  }
}

.card-name-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
