.masks-cards {
  margin: 16px;
  padding: 16px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  p {
    margin: 0;
    padding: 0;
  }
}

.mask-photo {
  width: 200px;
  height: 200px;
  background-color: $gray;
}

.mask-overview {
  margin: 0 16px;
}
