.icons-container {
  padding-top: 32px;
  padding-bottom: 40px;
  border-top: 1px solid #dedede;
}

.show-icon {
  margin-bottom: 8px;
}

.icon-and-characteristics{
  p {
    color: rgb(161, 161, 161);
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
  }
}

.color-percent {
  font-weight: 500;
  font-size: 14px;
  color: $blue;
}

.grey-dash {
  color: #cbcbcb;
}
