h6 {
  font-family: Poppins;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.1em;
}

.name-and-buttons {
  margin-bottom: 40px;
  h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
  }
  p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #ababab;
  }
}

// Unused
.mask-name-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: left;
}

.icon-and-characteristics{
  p {
    color: #c6c6c6;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
  }
}

.green-percent {
  color: #439b57;
}

.grey-dash {
  color: #cbcbcb;
}


// .center-title {
//   text-align: center;
// }

// .small-caps {
//   font-variant: small-caps;
// }

// .landing-name {
//   font-family: 'Libre Baskerville', serif;
//   font-size: 110px;
//   margin-top: 40px;
//   margin-bottom: 60px;
// }

// .sign-name {
//   font-family: 'Libre Baskerville', serif;
//   margin-top: 40px;
//   margin-bottom: 60px;
//   text-align : center;
// }

// .funny-font {
//   font-family: 'Bangers', cursive;
// }

// .name-font-size {
//   font-size: 16px;
// }

// .description-font-size {
//   font-size: 10px;
// }

// .others-font-size {
//   font-size: 12px;
// }

// .fp-question{
//   text-align: left;
//   font-size: 12px;
//   margin-top: 0;
//   margin-bottom: 12px;
// }

