.center-title {
  text-align: center;
}

.small-caps {
  font-variant: small-caps;
}

.landing-name {
  font-family: 'Libre Baskerville', serif;
  font-size: 110px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.funny-font {
  font-family: 'Bangers', cursive;
}

.name-font-size {
  font-size: 16px;
}

.description-font-size {
  font-size: 10px;
}

.others-font-size {
  font-size: 12px;
}


